<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>romofyi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="./static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="./static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="./static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="./static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="./static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

      <style>
         /*body {
             background-color:pink;
             font-family: Arial, sans-serif;
             margin: 0;
             padding: 0;
         }
         .container {
             width: 100%;
             margin: 0 auto;
             padding: 20px;
         }*/
         .product_main .card {
             background-color: #f8f9fa;
             border: 1px solid #dee2e6;
             border-radius: 0.25rem;
             padding: 20px;
             margin-bottom: 20px;
             display: inline-block;
             width: 200px;
             text-align: center;
         }
         .product_main .card img {
             width: 100%;
             height: 200px;
             object-fit:contain;
         }
         .product_main .card h3 {
             margin: 10px 0;
         }
         .product_main .card p {
             margin: 0;
         }
     </style>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="./static/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <!-- <div class="header_top d_none1">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4">
                        <ul class="conta_icon ">
                           <li><a href="#"><img src="./static/images/call.png" alt="#"/>Call us: 0126 - 922 - 0162</a> </li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <ul class="social_icon">
                           <li> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                           </li>
                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <div class="se_fonr1">
                           <form action="#" >
                              <div class="select-box">
                                 <label for="select-box1" class="label select-box1"><span class="label-desc">English</span> </label>
                                 <select id="select-box1" class="select">
                                    <option value="Choice 1">English</option>
                                    <option value="Choice 1">Falkla</option>
                                    <option value="Choice 2">Germa</option>
                                    <option value="Choice 3">Neverl</option>
                                 </select>
                              </div>
                           </form>
                           <span class="time_o"> Open hour: 8.00 - 18.00</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div> -->
            <div class="header_midil">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-4">
                        <ul class="conta_icon d_none1">
                           <li><a href="#"><img src="./static/images/email.png" alt="#"/>amigos@gmail.com</a> </li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <a class="logo" href="#" style="height: 40px;"><img style="height: 40px;" src="https://i.ibb.co/ZNfr3Hk/logo.jpg" alt="#"/></a>
                     </div>
                     <div class="col-md-4">
                        <ul class="right_icon d_none1">
                           <li><a href="#"><img src="./static/images/shopping.png" alt="#"/></a> </li>
                           <a href="#" class="order">Order Now</a> 
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="header_bottom">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item active">
                                    <a class="nav-link" href="/">Home</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="about">About</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="products">Products</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="fashion">Fashion</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="news">News</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="upload">Upload</a>
                                 </li>
                              </ul>
                              
                           </div>
                        </nav>
                     </div>
                     <div class="col-md-3">
                        <div class="search">
                              <input class="form_sea" type="text" placeholder="Search" id="srch" name="search">
                              <button type="submit" id="forsearch"  onclick="navigate()"class="seach_icon"><i class="fa fa-search"></i></button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      
      <!-- project section -->
      <div id="project" class="project">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Fashion Recommendation System</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="product_main">
                
        <div class="card">
            <a href="https://www.amazon.in/CB-COLEBROOK-Regular-Spread-Collar-Casual/dp/B0CGLM1PXH/ref=sr_1_15?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-15">
                        <img src="https://m.media-amazon.com/images/I/51gfVvBq90L._SX679_.jpg" alt="Product 1">
            </a>
                        <h3>Product 1</h3>
                        <p>Price: $1</p>
                    </div>
                    <div class="card">
            
                        <a href="https://www.amazon.in/Van-Heusen-Plain-Formal-VHSFBSLPQ75225_Blue_44/dp/B07SSJD41D/ref=sr_1_18?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-18">
              <img src="https://m.media-amazon.com/images/I/71sV83AUROS._SX569_.jpg" alt="Description of the image">
            </a>
                        <h3>Product 2</h3>
                        <p>Price: $150</p>
                    </div>
            <div class="card">
            <a href="https://www.amazon.in/Van-Heusen-Mens-Shirt-VHSFRSLBN06814_Medium/dp/B0B5YDZRM9/ref=sr_1_32?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-32">
                        <img src="https://m.media-amazon.com/images/I/61vOh+WsVpL._SY741_.jpg" alt="Product 1">
            </a>
                        <h3>Product 3</h3>
                        <p>Price: $100</p>
                    </div>
            
            <div class="card">
                     <a href="https://www.amazon.in/RED-NINE-Mens-Blue-Shirt/dp/B0CSBVR8SQ/ref=sr_1_33?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-33">
              <img src="https://m.media-amazon.com/images/I/51ZOHh3dYcL._SX679_.jpg" alt="Product 1">
            </a>
                        
                        <h3>Product 4</h3>
                        <p>Price: $100</p>
                    </div>
            
            <div class="card">
               <a href="https://www.amazon.in/U-TURN-Shirt-skyblue-h-s-l_Sky-Blue_Large/dp/B084KZM2B3/ref=sr_1_38?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-38">
                        <img src="https://m.media-amazon.com/images/I/7184YH2pfUS._SY741_.jpg" alt="Product 1">
            </a>
                        <h3>Product 5</h3>
                        <p>Price: $100</p>
                    </div>
                 <div class="card">
                    <a href="https://www.amazon.in/Red-Tape-Button-Sleeves-Shirt_RFS1654-M/dp/B0BXLBPPFZ/ref=sr_1_54?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.D84e6WJRRqYkP1eE5x0p5MgQyS8bDMso6ahXGqLslZ7wdYszLyFrQBmuiC0-g00udMrhnRAm2GRqvUsvmun3kgKQPKZJFDk398RDdJQz8FPrO6PLKnTXfrXpe6cDlZj3RrCcs3u8oic109SmfncJPxyzE4rE546xfzB2YpTf-q9E3IAlS2bB59o-HbUzR_Hx5bhWBQAIQr4NvHZC8cNWXfTiX4_CgxuZxhWYsfF5BryhSx5SuqB3PY9WrYY58QhYMhte43KgLB609GS7gthbNHLpoaukTdnIt3Oye7T-r8s.lG2nEFvuub_oQXVMeRFFc1GhsSBMBJ4_e3NA_Yu6D-8&dib_tag=se&keywords=blue+shirts+for+men&qid=1710651895&sprefix=blue+shirt%2Caps%2C479&sr=8-54">
              <img src="https://m.media-amazon.com/images/I/61IDcbDfqWL._SX679_.jpg">
            </a> <h3>Product 6</h3>
                        <p>Price: $100</p>
                 </div>
            
            <div class="card">
                <a href="https://www.amazon.in/Khushi-Creation-Line-Change-world/dp/B0CR15KDCW/ref=sr_1_56?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.D84e6WJRRqYkP1eE5x0p5MgQyS8bDMso6ahXGqLslZ7wdYszLyFrQBmuiC0-g00udMrhnRAm2GRqvUsvmun3kgKQPKZJFDk398RDdJQz8FPrO6PLKnTXfrXpe6cDlZj3RrCcs3u8oic109SmfncJPxyzE4rE546xfzB2YpTf-q9E3IAlS2bB59o-HbUzR_Hx5bhWBQAIQr4NvHZC8cNWXfTiX4_CgxuZxhWYsfF5BryhSx5SuqB3PY9WrYY58QhYMhte43KgLB609GS7gthbNHLpoaukTdnIt3Oye7T-r8s.lG2nEFvuub_oQXVMeRFFc1GhsSBMBJ4_e3NA_Yu6D-8&dib_tag=se&keywords=blue+shirts+for+men&qid=1710651895&sprefix=blue+shirt%2Caps%2C479&sr=8-56">
              <img src="https://m.media-amazon.com/images/I/81dYEkq+25L._SY741_.jpg">
            </a> <h3>Product 1</h3>
                        <p>Price: $100</p>
                 </div>
            
            <div class="card">
                <a href="https://www.amazon.in/Regrowth-Mens-Regular-Shirt-REGW-DEN-BLU-XL_Blue_XL/dp/B0B6SSRMSD/ref=sr_1_167?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.afzCVkB5_I-5Kw3dUoVgUJqZ_4QnnvMT7NVI1WqpPfrdSArL5cWUKXXEjRUb9QV9gWQxTd6zO9HbpTlUCRviXlobIWLWRtOjD7I38-uyO1pUGujvXC8i1gbPi3MRVfpp3s5Xrf55Ww-tdHpsDB_vmV-0lafWvPDOEOW4AUhCWm1q4Y9dXiPstT6WkxnTHq2rfUPvFzE8IDoHH8_Uj0c3PfR1Ov6EIM1S18rYRuHdqeqUmWEZPATsBA0hNfeLQOnnLHj_Uc6qX6w1gSiykp0U-o0k3R56O7i7rz4YI2HPJqg.EYsKv3vR4NBXwO6ES4t9UxwNegmi2gR_Vm37def7i-M&dib_tag=se&keywords=blue+shirts+for+men&qid=1710652455&sprefix=blue+shirt%2Caps%2C479&sr=8-167">
              <img src="https://m.media-amazon.com/images/I/513-EqhouRL._SY741_.jpg" >
            </a><h3>Product 8</h3>
                        <p>Price: $1</p>
                 </div>

                 <div class="card">
                  <a href="https://www.amazon.in/Amazon-Brand-Symbol-Regular-AW17MFS21_42_Royal/dp/B073ZJNMFV/ref=sr_1_7?crid=30RXNPB4UJSQH&dib=eyJ2IjoiMSJ9.W5Gqq2pmjJM70diRBak-0qwoAw9rpdwsi15frzzjXuRnCnAFP6zzrccYzNDR_Kq53nnxJXKXZLOAdT8y4mwUotSnkAriwcK3XGGA0T4RJd0FROcYpDpa_wLGXJkXCCKqm1QvUx-BH-aIQIrtsnb1D-tdBrRK1g5OAIEVX-fhdHuxxqjJMdmSPXcNdzLFndlwgHYwWKjjus0p-RzDrF1VGMEGZUQ04lKKYBNov_9-1syrQ9knMc2SVjMRAMTIZjBVc_lpAxhVLpucq3P18EtnPhdlWOy_IfSl6cEsjMcgPek.dHfCv7aqR_p7kbyOuqB2rU2x3YlI0KNoC1k6tPZTT98&dib_tag=se&keywords=blue+shirts+for+men&qid=1710741789&sprefix=%2Caps%2C435&sr=8-7">
                              <img src="https://m.media-amazon.com/images/I/91QQX4CQU2L._SX569_.jpg" alt="Product 1">
                  </a>
                              <h3>Product 1</h3>
                              <p>Price: $1</p>
                          </div>
                          <div class="card">
                              <a href="https://www.amazon.in/Dennis-Lingo-Checkered-D-Blue-AZ751_D-Blue_L/dp/B08YNWS34Y/ref=sr_1_17?crid=30RXNPB4UJSQH&dib=eyJ2IjoiMSJ9.W5Gqq2pmjJM70diRBak-0qwoAw9rpdwsi15frzzjXuRnCnAFP6zzrccYzNDR_Kq53nnxJXKXZLOAdT8y4mwUotSnkAriwcK3XGGA0T4RJd0FROcYpDpa_wLGXJkXCCKqm1QvUx-BH-aIQIrtsnb1D-tdBrRK1g5OAIEVX-fhdHuxxqjJMdmSPXcNdzLFndlwgHYwWKjjus0p-RzDrF1VGMEGZUQ04lKKYBNov_9-1syrQ9knMc2SVjMRAMTIZjBVc_lpAxhVLpucq3P18EtnPhdlWOy_IfSl6cEsjMcgPek.dHfCv7aqR_p7kbyOuqB2rU2x3YlI0KNoC1k6tPZTT98&dib_tag=se&keywords=blue+shirts+for+men&qid=1710741789&sprefix=%2Caps%2C435&sr=8-17">
                    <img src="https://m.media-amazon.com/images/I/61DGAlvxRLL._SY879_.jpg"alt="product 1">
                  </a>
                              <h3>Product 2</h3>
                              <p>Price: $150</p>
                          </div>
                  <div class="card">
                  <a href="https://www.amazon.in/Van-Heusen-Plain-Formal-VHSFBSLPQ75225_Blue_44/dp/B07SSJD41D/ref=sr_1_20?crid=30RXNPB4UJSQH&dib=eyJ2IjoiMSJ9.W5Gqq2pmjJM70diRBak-0qwoAw9rpdwsi15frzzjXuRnCnAFP6zzrccYzNDR_Kq53nnxJXKXZLOAdT8y4mwUotSnkAriwcK3XGGA0T4RJd0FROcYpDpa_wLGXJkXCCKqm1QvUx-BH-aIQIrtsnb1D-tdBrRK1g5OAIEVX-fhdHuxxqjJMdmSPXcNdzLFndlwgHYwWKjjus0p-RzDrF1VGMEGZUQ04lKKYBNov_9-1syrQ9knMc2SVjMRAMTIZjBVc_lpAxhVLpucq3P18EtnPhdlWOy_IfSl6cEsjMcgPek.dHfCv7aqR_p7kbyOuqB2rU2x3YlI0KNoC1k6tPZTT98&dib_tag=se&keywords=blue+shirts+for+men&qid=1710741789&sprefix=%2Caps%2C435&sr=8-20">
                              <img src="https://m.media-amazon.com/images/I/71sV83AUROS._SX569_.jpg" alt="Product 1">
                  </a>
                              <h3>Product 3</h3>
                              <p>Price: $100</p>
                          </div>
                  
                  <div class="card">
                           <a href="https://www.amazon.in/Van-Heusen-Mens-Shirt-VHSFRSLBN06814_Medium/dp/B0B5YDZRM9/ref=sr_1_29?crid=30RXNPB4UJSQH&dib=eyJ2IjoiMSJ9.W5Gqq2pmjJM70diRBak-0qwoAw9rpdwsi15frzzjXuRnCnAFP6zzrccYzNDR_Kq53nnxJXKXZLOAdT8y4mwUotSnkAriwcK3XGGA0T4RJd0FROcYpDpa_wLGXJkXCCKqm1QvUx-BH-aIQIrtsnb1D-tdBrRK1g5OAIEVX-fhdHuxxqjJMdmSPXcNdzLFndlwgHYwWKjjus0p-RzDrF1VGMEGZUQ04lKKYBNov_9-1syrQ9knMc2SVjMRAMTIZjBVc_lpAxhVLpucq3P18EtnPhdlWOy_IfSl6cEsjMcgPek.dHfCv7aqR_p7kbyOuqB2rU2x3YlI0KNoC1k6tPZTT98&dib_tag=se&keywords=blue+shirts+for+men&qid=1710741789&sprefix=%2Caps%2C435&sr=8-29">
                    <img src="https://m.media-amazon.com/images/I/61vOh+WsVpL._SY879_.jpg" alt="Product 1">
                  </a>
                              
                              <h3>Product 4</h3>
                              <p>Price: $100</p>
              </div>
                  <div class="card">
                     <a href="https://www.amazon.in/Allen-Solly-Fitted-Shirt-ASSFQMOP403092_Blue/dp/B0B4PCWTG1/ref=sr_1_44?crid=30RXNPB4UJSQH&dib=eyJ2IjoiMSJ9.W5Gqq2pmjJM70diRBak-0qwoAw9rpdwsi15frzzjXuRnCnAFP6zzrccYzNDR_Kq53nnxJXKXZLOAdT8y4mwUotSnkAriwcK3XGGA0T4RJd0FROcYpDpa_wLGXJkXCCKqm1QvUx-BH-aIQIrtsnb1D-tdBrRK1g5OAIEVX-fhdHuxxqjJMdmSPXcNdzLFndlwgHYwWKjjus0p-RzDrF1VGMEGZUQ04lKKYBNov_9-1syrQ9knMc2SVjMRAMTIZjBVc_lpAxhVLpucq3P18EtnPhdlWOy_IfSl6cEsjMcgPek.dHfCv7aqR_p7kbyOuqB2rU2x3YlI0KNoC1k6tPZTT98&dib_tag=se&keywords=blue+shirts+for+men&qid=1710741789&sprefix=%2Caps%2C435&sr=8-44">
                              <img src="https://m.media-amazon.com/images/I/61b1igoMwUL._SY741_.jpg" alt="Product 1">
                  </a>
                              <h3>Product 5</h3>
                              <p>Price: $100</p>
                          </div>
                       <div class="card">
                          <a href="https://www.amazon.in/Park-Avenue-Slim-Casual-Shirt/dp/B0BY934YMR/ref=sr_1_53?crid=30RXNPB4UJSQH&dib=eyJ2IjoiMSJ9.W5Gqq2pmjJM70diRBak-0qwoAw9rpdwsi15frzzjXuRnCnAFP6zzrccYzNDR_Kq53nnxJXKXZLOAdT8y4mwUotSnkAriwcK3XGGA0T4RJd0FROcYpDpa_wLGXJkXCCKqm1QvUx-BH-aIQIrtsnb1D-tdBrRK1g5OAIEVX-fhdHuxxqjJMdmSPXcNdzLFndlwgHYwWKjjus0p-RzDrF1VGMEGZUQ04lKKYBNov_9-1syrQ9knMc2SVjMRAMTIZjBVc_lpAxhVLpucq3P18EtnPhdlWOy_IfSl6cEsjMcgPek.dHfCv7aqR_p7kbyOuqB2rU2x3YlI0KNoC1k6tPZTT98&dib_tag=se&keywords=blue+shirts+for+men&qid=1710741789&sprefix=%2Caps%2C435&sr=8-53">
                    <img src="https://m.media-amazon.com/images/I/61WjtOM+M-L._SX679_.jpg">
                  </a> <h3>Product 6</h3>
                              <p>Price: $100</p>
                       </div>
                  
                  <div class="card">
                      <a href="https://www.amazon.in/Amazon-Brand-Symbol-Regular-AZ-SY-RM-06_KrtPlkt_Sky/dp/B09BCYDCFD/ref=sr_1_114?crid=30RXNPB4UJSQH&dib=eyJ2IjoiMSJ9.YqiANRBrVpF5F8dnVDHb7apTqVaiXahP40GfcVKvrVAnuExWou6wDtnmRsQfw82yQ2aRFglwI_pnqOnn06QBhTCYlJqKo2tOuMSXa4qVbeXdU5QDidOcbnnrs0eTYj4gvyvO9ylGZRTtCVh93fq-7dHMPkTy2ZMOgsKISVEErARGj4Igu7WCBJZU4gO0TblylJTCv8-WStPM1jOjNLAVP-gv2yacdDEmn9gASwXPZDzo349HAukge_JcoFIzsemttME-BwD5fMMAGLkKIU9Jho0k3R56O7i7rz4YI2HPJqg.V2_sTzDVIi7fBtUMp_g6FdaHui0YKPaUOnQiaq4dTY4&dib_tag=se&keywords=blue+shirts+for+men&qid=1710743309&sprefix=%2Caps%2C435&sr=8-114">
                    <img src="https://m.media-amazon.com/images/I/61l2hdfO4YL._SY879_.jpg">
                  </a> <h3>Product 1</h3>
                              <p>Price: $100</p>
                       </div>
                  
                  <div class="card">
                      <a href="https://www.amazon.in/Amazon-Brand-Inkast-Denim-SS20IKDDNFS-10_Azure/dp/B095Y7D4Q8/ref=sr_1_133?crid=30RXNPB4UJSQH&dib=eyJ2IjoiMSJ9.YqiANRBrVpF5F8dnVDHb7apTqVaiXahP40GfcVKvrVAnuExWou6wDtnmRsQfw82yQ2aRFglwI_pnqOnn06QBhTCYlJqKo2tOuMSXa4qVbeXdU5QDidOcbnnrs0eTYj4gvyvO9ylGZRTtCVh93fq-7dHMPkTy2ZMOgsKISVEErARGj4Igu7WCBJZU4gO0TblylJTCv8-WStPM1jOjNLAVP-gv2yacdDEmn9gASwXPZDzo349HAukge_JcoFIzsemttME-BwD5fMMAGLkKIU9Jho0k3R56O7i7rz4YI2HPJqg.V2_sTzDVIi7fBtUMp_g6FdaHui0YKPaUOnQiaq4dTY4&dib_tag=se&keywords=blue+shirts+for+men&qid=1710743309&sprefix=%2Caps%2C435&sr=8-133">
                    <img src="https://m.media-amazon.com/images/I/71Lv3c7gVdL._SX569_.jpg" >
                  </a><h3>Product 8</h3>
                              <p>Price: $1</p>
                       </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end project section -->

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>INFORMATION </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>MY ACCOUNT </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>ABOUT  </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>CONTACTS  </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2024 All Rights Reserved. Design by Amigos</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="./static/js/jquery.min.js"></script>
      <script src="./static/js/popper.min.js"></script>
      <script src="./static/js/bootstrap.bundle.min.js"></script>
      <script src="./static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="./static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="./static/js/custom.js"></script>
   </body>
</html>
<script>
   // Calculate the height of three pages
   const threePagesHeight = window.innerHeight * 3;
   function navigate() {
       var fileName = document.getElementById('srch').value.trim();
   
       // Check if the input is not empty
       if (fileName !== '') {
           // Navigate to the HTML file
           window.location.href = fileName;
       } else {
           // Alert user if the input is empty
           alert("Please enter a file name");
       }
   }
   // Create the scroll effect
   // Get the input field
       var input = document.getElementById("srch");

       // Execute a function when the user presses a key on the keyboard
       input.addEventListener("keypress", function(event) {
       // If the user presses the "Enter" key on the keyboard
       if (event.key === "Enter") {
           // Cancel the default action, if needed
           event.preventDefault();
           // Trigger the button element with a click
           document.getElementById("forsearch").click();
       }
       });
   function scrollThreePages(direction) {
       const currentPosition = window.pageYOffset;
       const targetPosition = direction === 'up' ? currentPosition - threePagesHeight : currentPosition + threePagesHeight;

       const scrollAnimation = window.requestAnimationFrame(() => {
           window.scrollTo(0, targetPosition);
           if (window.pageYOffset === targetPosition) {
               window.cancelAnimationFrame(scrollAnimation);
           } else {
               scrollThreePages(direction);
           }
       });
   }

   // Add event listeners for scrolling up and down
   document.addEventListener('keydown', (event) => {
       if (event.key === 'ArrowUp') {
           scrollThreePages('up');
       } else if (event.key === 'ArrowDown') {
           scrollThreePages('down');
       }
   });

   document.querySelector('.up-arrow').addEventListener('click', () => {
       scrollThreePages('up');
   });

   document.querySelector('.down-arrow').addEventListener('click', () => {
       scrollThreePages('down');
   });

   function cameraIconClicked() {
       
       window.location.href = 'camera.html';
   }

   
   document.getElementById('cameraIcon').addEventListener('click', cameraIconClicked);
</script>