<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Raj Fashion Recommendation System</title>
    <style>
        body {
           background-color:pink;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            padding: 20px;
            margin-bottom: 20px;
            display: inline-block;
            width: 200px;
            text-align: center;
        }
        .card img {
            width: 100%;
            height: 200px;
            object-fit:contain;
        }
        .card h3 {
            margin: 10px 0;
        }
        .card p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Fashion Recommendation System</h1>


        <div class="card">
<a href="https://www.amazon.in/Dennis-Lingo-Solid-Casual-C301_Dustypink_M_Dustypink_M/dp/B07HK7B2PQ/ref=sr_1_8?crid=39N7ZGXW0QMU2&dib=eyJ2IjoiMSJ9.W-na_L8zjjXi16bBvQbhyZqnHLG4Te_TJrEaei_IYwAlKGKzdtrKFBmT2PCN44-cT4vM5XciAzpuUMlTQox-mPVnbHx0UTWeu4fonZX47B_LlNGdc6KwZZrfsKziLqFuH0FbEgzmdPXtg4USLkhUBLYfRcqGFf1YCCBu28q7CueWLCuKyGEBbG1aIe4_moXoSuyFEAQT2GnrWvt03zIvh1dc4KocyxNJQ3XpPPdMll69TC-gtWQjFjAkxZxqtPEcsNuv7WzBxO-fsUOkW3-HGSA5wUvkkl-ehSPGfiWK3zM.rEVwYgxBtlfygQ3yh8VC20ysPI6G1Zi4VphkUKkzfw0&dib_tag=se&keywords=shirt+for+men&qid=1710310744&sprefix=shirt%2Caps%2C262&sr=8-8">
            <img src="https://m.media-amazon.com/images/I/618Wek95laS._SY879_.jpg" alt="Product 1">
</a>
            <h3>Product 1</h3>
            <p>Price: $1</p>
        </div>
        <div class="card">

            <a href="https://www.amazon.in/Instafab-Plus-Size-Crafted-Regular-Everyday/dp/B0CBK27KQP/ref=sr_1_2_sspa?crid=39N7ZGXW0QMU2&dib=eyJ2IjoiMSJ9.W-na_L8zjjXi16bBvQbhyZqnHLG4Te_TJrEaei_IYwAlKGKzdtrKFBmT2PCN44-cT4vM5XciAzpuUMlTQox-mPVnbHx0UTWeu4fonZX47B_LlNGdc6KwZZrfsKziLqFuH0FbEgzmdPXtg4USLkhUBLYfRcqGFf1YCCBu28q7CueWLCuKyGEBbG1aIe4_moXoSuyFEAQT2GnrWvt03zIvh1dc4KocyxNJQ3XpPPdMll69TC-gtWQjFjAkxZxqtPEcsNuv7WzBxO-fsUOkW3-HGSA5wUvkkl-ehSPGfiWK3zM.rEVwYgxBtlfygQ3yh8VC20ysPI6G1Zi4VphkUKkzfw0&dib_tag=se&keywords=shirt+for+men&qid=1710308569&sprefix=shirt%2Caps%2C262&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">
  <img src="https://m.media-amazon.com/images/I/61FIb9AP7vL._SX679_.jpg" alt="Description of the image">
</a>
            <h3>Product 2</h3>
            <p>Price: $150</p>
        </div>
<div class="card">
<a href="https://www.amazon.in/Peter-England-Mens-Shirt-PCSFSSLPR50229_Black/dp/B0C27VG59Q/ref=sr_1_4_sspa?crid=39N7ZGXW0QMU2&dib=eyJ2IjoiMSJ9.W-na_L8zjjXi16bBvQbhyZqnHLG4Te_TJrEaei_IYwAlKGKzdtrKFBmT2PCN44-cT4vM5XciAzpuUMlTQox-mPVnbHx0UTWeu4fonZX47B_LlNGdc6KwZZrfsKziLqFuH0FbEgzmdPXtg4USLkhUBLYfRcqGFf1YCCBu28q7CueWLCuKyGEBbG1aIe4_moXoSuyFEAQT2GnrWvt03zIvh1dc4KocyxNJQ3XpPPdMll69TC-gtWQjFjAkxZxqtPEcsNuv7WzBxO-fsUOkW3-HGSA5wUvkkl-ehSPGfiWK3zM.rEVwYgxBtlfygQ3yh8VC20ysPI6G1Zi4VphkUKkzfw0&dib_tag=se&keywords=shirt+for+men&qid=1710308569&sprefix=shirt%2Caps%2C262&sr=8-4-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">
            <img src="https://m.media-amazon.com/images/I/71PZucGJlWL._SY741_.jpg" alt="Product 1">
</a>
            <h3>Product 3</h3>
            <p>Price: $100</p>
        </div>

<div class="card">
         <a href="https://www.amazon.in/Pinkmint-Sleeve-Button-Collared-Casual/dp/B0CW1P8RRG/ref=sr_1_6?crid=39N7ZGXW0QMU2&dib=eyJ2IjoiMSJ9.W-na_L8zjjXi16bBvQbhyZqnHLG4Te_TJrEaei_IYwAlKGKzdtrKFBmT2PCN44-cT4vM5XciAzpuUMlTQox-mPVnbHx0UTWeu4fonZX47B_LlNGdc6KwZZrfsKziLqFuH0FbEgzmdPXtg4USLkhUBLYfRcqGFf1YCCBu28q7CueWLCuKyGEBbG1aIe4_moXoSuyFEAQT2GnrWvt03zIvh1dc4KocyxNJQ3XpPPdMll69TC-gtWQjFjAkxZxqtPEcsNuv7WzBxO-fsUOkW3-HGSA5wUvkkl-ehSPGfiWK3zM.rEVwYgxBtlfygQ3yh8VC20ysPI6G1Zi4VphkUKkzfw0&dib_tag=se&keywords=shirt+for+men&qid=1710308569&sprefix=shirt%2Caps%2C262&sr=8-6">
  <img src="https://m.media-amazon.com/images/I/31hcA0ci6BL.jpg" alt="Product 1">
</a>
            
            <h3>Product 4</h3>
            <p>Price: $100</p>
        </div>

<div class="card">
   <a href="https://www.amazon.in/Leriya-Fashion-Textured-Shirts-Stylish/dp/B0CLZZD3JZ/ref=sr_1_14?crid=39N7ZGXW0QMU2&dib=eyJ2IjoiMSJ9.W-na_L8zjjXi16bBvQbhyZqnHLG4Te_TJrEaei_IYwAlKGKzdtrKFBmT2PCN44-cT4vM5XciAzpuUMlTQox-mPVnbHx0UTWeu4fonZX47B_LlNGdc6KwZZrfsKziLqFuH0FbEgzmdPXtg4USLkhUBLYfRcqGFf1YCCBu28q7CueWLCuKyGEBbG1aIe4_moXoSuyFEAQT2GnrWvt03zIvh1dc4KocyxNJQ3XpPPdMll69TC-gtWQjFjAkxZxqtPEcsNuv7WzBxO-fsUOkW3-HGSA5wUvkkl-ehSPGfiWK3zM.rEVwYgxBtlfygQ3yh8VC20ysPI6G1Zi4VphkUKkzfw0&dib_tag=se&keywords=shirt+for+men&qid=1710308569&sprefix=shirt%2Caps%2C262&sr=8-14">
            <img src="https://m.media-amazon.com/images/I/715Gcc34mvL._SY741_.jpg" alt="Product 1">
</a>
            <h3>Product 5</h3>
            <p>Price: $100</p>
        </div>
     <div class="card">
    <a href="https://www.amazon.in/OCTAVIAN-Casual-Comfortable-Breathable-Sleeves/dp/B0CT7ZWBPQ/ref=sr_1_9?crid=39N7ZGXW0QMU2&dib=eyJ2IjoiMSJ9.W-na_L8zjjXi16bBvQbhyZqnHLG4Te_TJrEaei_IYwAlKGKzdtrKFBmT2PCN44-cT4vM5XciAzpuUMlTQox-mPVnbHx0UTWeu4fonZX47B_LlNGdc6KwZZrfsKziLqFuH0FbEgzmdPXtg4USLkhUBLYfRcqGFf1YCCBu28q7CueWLCuKyGEBbG1aIe4_moXoSuyFEAQT2GnrWvt03zIvh1dc4KocyxNJQ3XpPPdMll69TC-gtWQjFjAkxZxqtPEcsNuv7WzBxO-fsUOkW3-HGSA5wUvkkl-ehSPGfiWK3zM.rEVwYgxBtlfygQ3yh8VC20ysPI6G1Zi4VphkUKkzfw0&dib_tag=se&keywords=shirt+for+men&qid=1710310744&sprefix=shirt%2Caps%2C262&sr=8-9">
  <img src="https://m.media-amazon.com/images/I/51k6EiGBp0L._SX679_.jpg">
</a> <h3>Product 6</h3>
            <p>Price: $100</p>
     </div>

<div class="card">
    <a href="https://www.amazon.in/Casual-Shirt-Stylish-Rib-Shirt-Black/dp/B0CRPGLX13/ref=sr_1_10?crid=39N7ZGXW0QMU2&dib=eyJ2IjoiMSJ9.W-na_L8zjjXi16bBvQbhyZqnHLG4Te_TJrEaei_IYwAlKGKzdtrKFBmT2PCN44-cT4vM5XciAzpuUMlTQox-mPVnbHx0UTWeu4fonZX47B_LlNGdc6KwZZrfsKziLqFuH0FbEgzmdPXtg4USLkhUBLYfRcqGFf1YCCBu28q7CueWLCuKyGEBbG1aIe4_moXoSuyFEAQT2GnrWvt03zIvh1dc4KocyxNJQ3XpPPdMll69TC-gtWQjFjAkxZxqtPEcsNuv7WzBxO-fsUOkW3-HGSA5wUvkkl-ehSPGfiWK3zM.rEVwYgxBtlfygQ3yh8VC20ysPI6G1Zi4VphkUKkzfw0&dib_tag=se&keywords=shirt+for+men&qid=1710310744&sprefix=shirt%2Caps%2C262&sr=8-10">
  <img src="https://m.media-amazon.com/images/I/71gxzNP0V3L._SY741_.jpg">
</a> <h3>Product 1</h3>
            <p>Price: $100</p>
     </div>

<div class="card">
    <a href="https://www.amazon.in/Zartha-Cotton-Blend-Casual-Kurta/dp/B0BYVVQHLX/ref=sr_1_47?crid=39N7ZGXW0QMU2&dib=eyJ2IjoiMSJ9.W-na_L8zjjXi16bBvQbhyZqnHLG4Te_TJrEaei_IYwAlKGKzdtrKFBmT2PCN44-cT4vM5XciAzpuUMlTQox-mPVnbHx0UTWeu4fonZX47B_LlNGdc6KwZZrfsKziLqFuH0FbEgzmdPXtg4USLkhUBLYfRcqGFf1YCCBu28q7CueWLCuKyGEBbG1aIe4_moXoSuyFEAQT2GnrWvt03zIvh1dc4KocyxNJQ3XpPPdMll69TC-gtWQjFjAkxZxqtPEcsNuv7WzBxO-fsUOkW3-HGSA5wUvkkl-ehSPGfiWK3zM.rEVwYgxBtlfygQ3yh8VC20ysPI6G1Zi4VphkUKkzfw0&dib_tag=se&keywords=shirt+for+men&qid=1710310744&sprefix=shirt%2Caps%2C262&sr=8-47">
  <img src="https://m.media-amazon.com/images/I/515-cEBX2TL._SY741_.jpg" ">
</a><h3>Product 8</h3>
            <p>Price: $1</p>
     </div>
        <!-- Add more products here -->
    </div>
</body>
</html>