<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Raj Fashion Recommendation System</title>
    <style>
        body {
           background-color:pink;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            padding: 20px;
            margin-bottom: 20px;
            display: inline-block;
            width: 200px;
            text-align: center;
        }
        .card img {
            width: 100%;
            height: 200px;
            object-fit:contain;
        }
        .card h3 {
            margin: 10px 0;
        }
        .card p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Fashion Recommendation System</h1>


        <div class="card">
<a href="https://www.amazon.in/CB-COLEBROOK-Regular-Spread-Collar-Casual/dp/B0CGLM1PXH/ref=sr_1_15?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-15">
            <img src="https://m.media-amazon.com/images/I/51gfVvBq90L._SX679_.jpg" alt="Product 1">
</a>
            <h3>Product 1</h3>
            <p>Price: $1</p>
        </div>
        <div class="card">

            <a href="https://www.amazon.in/Van-Heusen-Plain-Formal-VHSFBSLPQ75225_Blue_44/dp/B07SSJD41D/ref=sr_1_18?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-18">
  <img src="https://m.media-amazon.com/images/I/71sV83AUROS._SX569_.jpg" alt="Description of the image">
</a>
            <h3>Product 2</h3>
            <p>Price: $150</p>
        </div>
<div class="card">
<a href="https://www.amazon.in/Van-Heusen-Mens-Shirt-VHSFRSLBN06814_Medium/dp/B0B5YDZRM9/ref=sr_1_32?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-32">
            <img src="https://m.media-amazon.com/images/I/61vOh+WsVpL._SY741_.jpg" alt="Product 1">
</a>
            <h3>Product 3</h3>
            <p>Price: $100</p>
        </div>

<div class="card">
         <a href="https://www.amazon.in/RED-NINE-Mens-Blue-Shirt/dp/B0CSBVR8SQ/ref=sr_1_33?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-33">
  <img src="https://m.media-amazon.com/images/I/51ZOHh3dYcL._SX679_.jpg" alt="Product 1">
</a>
            
            <h3>Product 4</h3>
            <p>Price: $100</p>
        </div>

<div class="card">
   <a href="https://www.amazon.in/U-TURN-Shirt-skyblue-h-s-l_Sky-Blue_Large/dp/B084KZM2B3/ref=sr_1_38?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.vslCe-0M-Q6hWPXBqX5Orxq88qC91teacLqzGhqef4l4mubv5GcDVZa6kJuSXm5PxARH4DoRD2emi4Qzs7c9AREMQ0461wdaTAo6ydz22KWITEUUFEP9MMZVGuPbtO7C7uTLleXUaJCwOQoH0DoHOtUF-Gt31dgIPg72ozmm2YcwXFohnlxHWPtX9gxIqf7FuwsTSeQ3H18cjQkh1t8E2-iLjXRa1OBoygplGwJT5bpzHXyEQwZVvtPBeVhH-30eU0YewcEwZa4hfL-dO0zZkc0QIYgn-148qma8Zng7SoE.qWZncGMx8xEbxr-JVaXQbHODUhbjT6rB-8u-sOVYW34&dib_tag=se&keywords=blue+shirts+for+men&qid=1710650244&sprefix=blue+shirt%2Caps%2C479&sr=8-38">
            <img src="https://m.media-amazon.com/images/I/7184YH2pfUS._SY741_.jpg" alt="Product 1">
</a>
            <h3>Product 5</h3>
            <p>Price: $100</p>
        </div>
     <div class="card">
        <a href="https://www.amazon.in/Red-Tape-Button-Sleeves-Shirt_RFS1654-M/dp/B0BXLBPPFZ/ref=sr_1_54?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.D84e6WJRRqYkP1eE5x0p5MgQyS8bDMso6ahXGqLslZ7wdYszLyFrQBmuiC0-g00udMrhnRAm2GRqvUsvmun3kgKQPKZJFDk398RDdJQz8FPrO6PLKnTXfrXpe6cDlZj3RrCcs3u8oic109SmfncJPxyzE4rE546xfzB2YpTf-q9E3IAlS2bB59o-HbUzR_Hx5bhWBQAIQr4NvHZC8cNWXfTiX4_CgxuZxhWYsfF5BryhSx5SuqB3PY9WrYY58QhYMhte43KgLB609GS7gthbNHLpoaukTdnIt3Oye7T-r8s.lG2nEFvuub_oQXVMeRFFc1GhsSBMBJ4_e3NA_Yu6D-8&dib_tag=se&keywords=blue+shirts+for+men&qid=1710651895&sprefix=blue+shirt%2Caps%2C479&sr=8-54">
  <img src="https://m.media-amazon.com/images/I/61IDcbDfqWL._SX679_.jpg">
</a> <h3>Product 6</h3>
            <p>Price: $100</p>
     </div>

<div class="card">
    <a href="https://www.amazon.in/Khushi-Creation-Line-Change-world/dp/B0CR15KDCW/ref=sr_1_56?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.D84e6WJRRqYkP1eE5x0p5MgQyS8bDMso6ahXGqLslZ7wdYszLyFrQBmuiC0-g00udMrhnRAm2GRqvUsvmun3kgKQPKZJFDk398RDdJQz8FPrO6PLKnTXfrXpe6cDlZj3RrCcs3u8oic109SmfncJPxyzE4rE546xfzB2YpTf-q9E3IAlS2bB59o-HbUzR_Hx5bhWBQAIQr4NvHZC8cNWXfTiX4_CgxuZxhWYsfF5BryhSx5SuqB3PY9WrYY58QhYMhte43KgLB609GS7gthbNHLpoaukTdnIt3Oye7T-r8s.lG2nEFvuub_oQXVMeRFFc1GhsSBMBJ4_e3NA_Yu6D-8&dib_tag=se&keywords=blue+shirts+for+men&qid=1710651895&sprefix=blue+shirt%2Caps%2C479&sr=8-56">
  <img src="https://m.media-amazon.com/images/I/81dYEkq+25L._SY741_.jpg">
</a> <h3>Product 1</h3>
            <p>Price: $100</p>
     </div>

<div class="card">
    <a href="https://www.amazon.in/Regrowth-Mens-Regular-Shirt-REGW-DEN-BLU-XL_Blue_XL/dp/B0B6SSRMSD/ref=sr_1_167?crid=GMO0TBMZNQZU&dib=eyJ2IjoiMSJ9.afzCVkB5_I-5Kw3dUoVgUJqZ_4QnnvMT7NVI1WqpPfrdSArL5cWUKXXEjRUb9QV9gWQxTd6zO9HbpTlUCRviXlobIWLWRtOjD7I38-uyO1pUGujvXC8i1gbPi3MRVfpp3s5Xrf55Ww-tdHpsDB_vmV-0lafWvPDOEOW4AUhCWm1q4Y9dXiPstT6WkxnTHq2rfUPvFzE8IDoHH8_Uj0c3PfR1Ov6EIM1S18rYRuHdqeqUmWEZPATsBA0hNfeLQOnnLHj_Uc6qX6w1gSiykp0U-o0k3R56O7i7rz4YI2HPJqg.EYsKv3vR4NBXwO6ES4t9UxwNegmi2gR_Vm37def7i-M&dib_tag=se&keywords=blue+shirts+for+men&qid=1710652455&sprefix=blue+shirt%2Caps%2C479&sr=8-167">
  <img src="https://m.media-amazon.com/images/I/513-EqhouRL._SY741_.jpg" >
</a><h3>Product 8</h3>
            <p>Price: $1</p>
     </div>
        <!-- Add more products here -->
    </div>
</body>
</html>