<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Raj Fashion Recommendation System</title>
    <style>
        body {
           background-color:pink;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            padding: 20px;
            margin-bottom: 20px;
            display: inline-block;
            width: 200px;
            text-align: center;
        }
        .card img {
            width: 100%;
            height: 200px;
            object-fit:contain;
        }
        .card h3 {
            margin: 10px 0;
        }
        .card p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Fashion Recommendation System</h1>


        <div class="card">
<a href="https://www.amazon.in/dp/B0CN6QJGSC?starsLeft=1&ref_=cm_sw_r_cso_wa_apan_dp_XEM9XD34M227TRHV6B1Q">
            <img src="https://m.media-amazon.com/images/I/713QC1mqP7L.SX522.jpg
            " alt="Product 1">
</a>
            <h3>Product 1</h3>
            <p>Price: $1</p>
        </div>
        <div class="card">

            <a href="https://www.amazon.in/dp/B07WRBHL9V/ref=sspa_dk_detail_1?psc=1&pd_rd_i=B07WRBHL9V&pd_rd_w=DyfJt&content-id=amzn1.sym.0fcdb56a-738b-4621-9da7-d47193883987&pf_rd_p=0fcdb56a-738b-4621-9da7-d47193883987&pf_rd_r=7KQZWT197V3FXDBPGR95&pd_rd_wg=n3iGz&pd_rd_r=6a52bc89-b877-4744-b854-feacfe862923&s=apparel&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWwy">
  <img src="https://m.media-amazon.com/images/I/71PU6aeNj-L.SY550.jpg" alt="Description of the image">
</a>
            <h3>Product 2</h3>
            <p>Price: $150</p>
        </div>
<div class="card">
<a href="https://www.amazon.in/Majestic-Man-Cotton-Casual-Medium/dp/B0B19PJWGX/ref=sr_1_50?crid=2TB34JXZEHGAR&dib=eyJ2IjoiMSJ9.pbbrBdfBxX6-24GUAD_IUb6Qql6SBbMmPsR1odsplq-0Zx-REyi9pEkuqGJsUgFDmKNjWBtI3IIzSmqk7MFRg4tOngzeE68wL8hASeFBJkl_vkNd46tB0DybfY8fi5nQJMRsMqYcVzUGdMEn7ZAOxz9huGZDcKxOH0uokmEQihlQA4dbVaIeMLWq9YNPk5rmb16YUz4x-w3lQCPGHIsBXZxuGPdVvxBASF-8I7RNXHP8ZJAw0qxNFxR9on0h04DA841cMy2QfuZCGchYvxzqIRDetRuEaiYzIRU5CHBNJDo.G9DL5Nhjxa4Kwha0UJqNdYeQ5cCNcb3dGtzzTmyLh9o&dib_tag=se&keywords=green+shirts&qid=1710605859&sprefix=green+shirt%2Caps%2C299&sr=8-50

">
            <img src="https://m.media-amazon.com/images/I/61sXYtJlQWL.SY550.jpg" alt="Product 1">
</a>
            <h3>Product 3</h3>
            <p>Price: $100</p>
        </div>

<div class="card">
         <a href="https://www.amazon.in/THANGAMAGAN-MENS-SHIRT-GREEN-SIZE/dp/B07B4XVZQV/ref=sr_1_46?crid=2TB34JXZEHGAR&dib=eyJ2IjoiMSJ9.pbbrBdfBxX6-24GUAD_IUb6Qql6SBbMmPsR1odsplq-0Zx-REyi9pEkuqGJsUgFDmKNjWBtI3IIzSmqk7MFRg4tOngzeE68wL8hASeFBJkl_vkNd46tB0DybfY8fi5nQJMRsMqYcVzUGdMEn7ZAOxz9huGZDcKxOH0uokmEQihlQA4dbVaIeMLWq9YNPk5rmb16YUz4x-w3lQCPGHIsBXZxuGPdVvxBASF-8I7RNXHP8ZJAw0qxNFxR9on0h04DA841cMy2QfuZCGchYvxzqIRDetRuEaiYzIRU5CHBNJDo.G9DL5Nhjxa4Kwha0UJqNdYeQ5cCNcb3dGtzzTmyLh9o&dib_tag=se&keywords=green+shirts&qid=1710605859&sprefix=green+shirt%2Caps%2C299&sr=8-46">
  <img src="https://m.media-amazon.com/images/I/41SFBSFUTfL.jpg" alt="Product 1">
</a>
            
            <h3>Product 4</h3>
            <p>Price: $100</p>
        </div>

<div class="card">
          <a href="https://www.amazon.in/Dennis-Lingo-Solid-Casual-C301_DUSTYGREEN_M_Dustygreen_M/dp/B07H35HWDX/ref=sr_1_6?crid=2TB34JXZEHGAR&dib=eyJ2IjoiMSJ9.pbbrBdfBxX6-24GUAD_IUb6Qql6SBbMmPsR1odsplq-0Zx-REyi9pEkuqGJsUgFDmKNjWBtI3IIzSmqk7MFRg4tOngzeE68wL8hASeFBJkl_vkNd46tB0DybfY8fi5nQJMRsMqYcVzUGdMEn7ZAOxz9huGZDcKxOH0uokmEQihlQA4dbVaIeMLWq9YNPk5rmb16YUz4x-w3lQCPGHIsBXZxuGPdVvxBASF-8I7RNXHP8ZJAw0qxNFxR9on0h04DA841cMy2QfuZCGchYvxzqIRDetRuEaiYzIRU5CHBNJDo.G9DL5Nhjxa4Kwha0UJqNdYeQ5cCNcb3dGtzzTmyLh9o&dib_tag=se&keywords=green+shirts&qid=1710605859&sprefix=green+shirt%2Caps%2C299&sr=8-6">
          <img src="https://m.media-amazon.com/images/I/61XzMtVz3PL.SY550.jpg
          " alt="Product 1">
</a>
            <h3>Product 5</h3>
            <p>Price: $100</p>
        </div>
     <div class="card">
    <a href="https://www.amazon.in/IndoPrimo-Regular-Design-Spread-Collar/dp/B0CRZ4R5B2/ref=sr_1_7?crid=2JHQOXULQ1JUQ&dib=eyJ2IjoiMSJ9.8SLE5I7BTSxvjxqThxEWGj_2HWyMzEU3zHEP1LotVELZriZkAoQ0vfIqiLJjIaKCfNnbTddfQcX7Srbi5PWXuXxv0NCFsNW6TZUifDT3UI1MOdEZMuntNWmwgSShHM0h_9I8rWOM64XtuvMY9WHZiQv7XXyBNzNqj-Q9eeEtQl9IiVNAR6hErkSkykfWZMoqqt9DiozYfqXL_ALL-iqGKF7Up8b0cF4UNbeqMdjUTgxeur6JkhEkcIpacdIbwG77hVvMPOhW4VbFLAZdGbgcSHEZ5FT-mTd1T7XezFdyhNc.M9QXVCzxVqnfRc0sZTcY-xuDj3ctZzlU3yUKmFec7ME&dib_tag=se&keywords=green+shirts+for+men&qid=1710605497&sprefix=green+shirts%2Caps%2C303&sr=8-7">
  <img src="https://m.media-amazon.com/images/I/51jdAUNSZGL.SX385.jpg">
</a> <h3>Product 6</h3>
            <p>Price: $100</p>
     </div>


     <div class="card">
        <a href="https://www.amazon.in/Leriya-Fashion-Textured-Stylish-LF-MS-6138/dp/B0CM11CH3J/ref=sr_1_8?crid=S3S2NYTSYA48&dib=eyJ2IjoiMSJ9.8SLE5I7BTSxvjxqThxEWGoNJgjO3rvPxkAP4OfC0dmbZ-mDbh1-L506E5qaLEyEHJEtuQN-xkmoCiEtLaSZbZWKQ1ErT7ZHWAytpNqWRikGD1pHR2nrSOVL0uOqb9DYiRr9MsdhXPDUVFhVyUhmPM5rMscUIzem6KmtFqeaazhnOQzOZ6QezNKVqCrLBdEn0qt9DiozYfqXL_ALL-iqGKDwDAB4SQa8w9wGArT-v1pdergjekF5RxByaAFdJxJR1FUVj4vRKieWNMB_1JXOED9_Z-qZdYdraXUCwjGyWnso.Nt_4rHKVf_bIiJF-VGADKfMzJ-U_KHIJltRSbd30XkI&dib_tag=se&keywords=green+shirts+for+men&qid=1710650601&sprefix=green+shirts+for+men%2Caps%2C428&sr=8-8">
      <img src="https://m.media-amazon.com/images/I/61v2ugDrCqL._SY879_.jpg">
    </a> <h3>Product 1</h3>
                <p>Price: $100</p>
         </div>

         <div class="card">
            <a href="https://www.amazon.in/Colebrook-Relaxed-Cotton-Casual-Sleeves/dp/B0BVHPMH9J/ref=sr_1_15?crid=S3S2NYTSYA48&dib=eyJ2IjoiMSJ9.8SLE5I7BTSxvjxqThxEWGoNJgjO3rvPxkAP4OfC0dmbZ-mDbh1-L506E5qaLEyEHJEtuQN-xkmoCiEtLaSZbZWKQ1ErT7ZHWAytpNqWRikGD1pHR2nrSOVL0uOqb9DYiRr9MsdhXPDUVFhVyUhmPM5rMscUIzem6KmtFqeaazhnOQzOZ6QezNKVqCrLBdEn0qt9DiozYfqXL_ALL-iqGKDwDAB4SQa8w9wGArT-v1pdergjekF5RxByaAFdJxJR1FUVj4vRKieWNMB_1JXOED9_Z-qZdYdraXUCwjGyWnso.Nt_4rHKVf_bIiJF-VGADKfMzJ-U_KHIJltRSbd30XkI&dib_tag=se&keywords=green+shirts+for+men&qid=1710650601&sprefix=green+shirts+for+men%2Caps%2C428&sr=8-15">
          <img src="https://m.media-amazon.com/images/I/81OKA8E3EJL._SX679_.jpg">
        </a> <h3>Product 1</h3>
                    <p>Price: $100</p>
             </div>
        
             <div class="card">
                <a href="https://www.amazon.in/Bellstone-Solid-Cotton-Blend-Straight/dp/B0CFYLCKR4/ref=sr_1_28?crid=125YKRIL7WIJ4&dib=eyJ2IjoiMSJ9.8SLE5I7BTSxvjxqThxEWGoNJgjO3rvPxkAP4OfC0dmapaabAjg1waCQ7daxX7bGQJEtuQN-xkmoCiEtLaSZbZWKQ1ErT7ZHWAytpNqWRikFSFG5MD1fyztK1KjJm_pBECchFxA81CAi4U9WtGzawxprMscUIzem6KmtFqeaazhnOQzOZ6QezNKVqCrLBdEn0qt9DiozYfqXL_ALL-iqGKDwDAB4SQa8w9wGArT-v1pdergjekF5RxByaAFdJxJR1FUVj4vRKieWNMB_1JXOED9_Z-qZdYdraXUCwjGyWnso.iu9EgOPI59SN6w7R4-otu4z3hR0Lc11vGYeW7ye50cA&dib_tag=se&keywords=green+shirts+for+men&qid=1710651442&sprefix=%2Caps%2C606&sr=8-28">
              <img src="https://m.media-amazon.com/images/I/51GZrOpKWhL._SY741_.jpg">
            </a> <h3>Product 1</h3>
                        <p>Price: $100</p>
                 </div>
        
                 <div class="card">
                    <a href="https://www.amazon.in/Colebrook-Relaxed-Cotton-Casual-Sleeves/dp/B0BVHPMH9J/ref=sr_1_15?crid=S3S2NYTSYA48&dib=eyJ2IjoiMSJ9.8SLE5I7BTSxvjxqThxEWGoNJgjO3rvPxkAP4OfC0dmbZ-mDbh1-L506E5qaLEyEHJEtuQN-xkmoCiEtLaSZbZWKQ1ErT7ZHWAytpNqWRikGD1pHR2nrSOVL0uOqb9DYiRr9MsdhXPDUVFhVyUhmPM5rMscUIzem6KmtFqeaazhnOQzOZ6QezNKVqCrLBdEn0qt9DiozYfqXL_ALL-iqGKDwDAB4SQa8w9wGArT-v1pdergjekF5RxByaAFdJxJR1FUVj4vRKieWNMB_1JXOED9_Z-qZdYdraXUCwjGyWnso.Nt_4rHKVf_bIiJF-VGADKfMzJ-U_KHIJltRSbd30XkI&dib_tag=se&keywords=green+shirts+for+men&qid=1710650601&sprefix=green+shirts+for+men%2Caps%2C428&sr=8-15">
                  <img src="https://m.media-amazon.com/images/I/81OKA8E3EJL._SX679_.jpg">
                </a> <h3>Product 1</h3>
                            <p>Price: $100</p>
                     </div>
                
             
         
        <!-- Add more products here -->
    </div>
</body>
</html>