<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Raj Fashion Recommendation System</title>
    <style>
        body {
            background-color:pink;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
        }
        .card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            padding: 20px;
            margin-bottom: 20px;
            display: inline-block;
            width: 200px;
            text-align: center;
        }
        .card img {
            width: 100%;
            height: 200px;
            object-fit:contain;
        }
        .card h3 {
            margin: 10px 0;
        }
        .card p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Fashion Recommendation System</h1>
        
        
        <div class="card">
            <a href="https://www.amazon.in/MARKRICH-Solid-Formal-Shirt-SS23MSHTFS047-XL_Red/dp/B0BYNVZK8H/ref=sr_1_2_sspa?crid=1P6LKZ99PDVM5&dib=eyJ2IjoiMSJ9.fCR4_UOk8_tc334CTCsuZKfrmFotQ1DyeCE7mEiFl4ZcDVZ98x50GgQY5OXeYG6FzkpggtplCisain2Rt-9snPRsXs7wLFBLuS3XPbr9NgkqlvT3B54mpdDQ6tt_KIMVuZcmzPeEcSfE39nUIycDiQ8Kb4xxwQdxE2avNcUCNMwqYKRu2bEdL-8Nz3CNCZwQlC18vShqpWMd4zzpczD0S2wdjY1oiz_q7sjPhmmoC3Np0upQJqfGvbQggCNT73xfxKmxjnIib6HXZOXBUbQX6vCyS9BHVgYulvdjUFLAKH0.AP8aMlU5e7vm40yMgkYC6ONoe1Zz0eGdmtlexUS2KTY&dib_tag=se&keywords=red+shirts+for+men&qid=1710655202&sprefix=red+shirts+for+men%2Caps%2C235&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">
                <img src="https://m.media-amazon.com/images/I/51oTHCTAFXL._SX679_.jpg" alt="Product 1">
            </a>
            <h3>Product 1</h3>
            <p>Price: $1</p>
        </div>
        <div class="card">
            <a href="https://www.amazon.in/YHA-Solid-Shirt-Men-Regular/dp/B09NC2STKY/ref=sr_1_5?crid=1P6LKZ99PDVM5&dib=eyJ2IjoiMSJ9.fCR4_UOk8_tc334CTCsuZKfrmFotQ1DyeCE7mEiFl4ZcDVZ98x50GgQY5OXeYG6FzkpggtplCisain2Rt-9snPRsXs7wLFBLuS3XPbr9NgkqlvT3B54mpdDQ6tt_KIMVuZcmzPeEcSfE39nUIycDiQ8Kb4xxwQdxE2avNcUCNMwqYKRu2bEdL-8Nz3CNCZwQlC18vShqpWMd4zzpczD0S2wdjY1oiz_q7sjPhmmoC3Np0upQJqfGvbQggCNT73xfxKmxjnIib6HXZOXBUbQX6vCyS9BHVgYulvdjUFLAKH0.AP8aMlU5e7vm40yMgkYC6ONoe1Zz0eGdmtlexUS2KTY&dib_tag=se&keywords=red+shirts+for+men&qid=1710655202&sprefix=red+shirts+for+men%2Caps%2C235&sr=8-5">
                <img src="https://m.media-amazon.com/images/I/71We74Rpz3L._SY741_.jpg"alt="product 1">
            </a>
            <h3>Product 2</h3>
            <p>Price: $150</p>
        </div>
        <div class="card">
            <a href="https://www.amazon.in/JEEVAAN-PERFECT-FASHION-Regular-X-Large/dp/B0B5HKPPVT/ref=sr_1_10?crid=1P6LKZ99PDVM5&dib=eyJ2IjoiMSJ9.fCR4_UOk8_tc334CTCsuZKfrmFotQ1DyeCE7mEiFl4ZcDVZ98x50GgQY5OXeYG6FzkpggtplCisain2Rt-9snPRsXs7wLFBLuS3XPbr9NgkqlvT3B54mpdDQ6tt_KIMVuZcmzPeEcSfE39nUIycDiQ8Kb4xxwQdxE2avNcUCNMwqYKRu2bEdL-8Nz3CNCZwQlC18vShqpWMd4zzpczD0S2wdjY1oiz_q7sjPhmmoC3Np0upQJqfGvbQggCNT73xfxKmxjnIib6HXZOXBUbQX6vCyS9BHVgYulvdjUFLAKH0.AP8aMlU5e7vm40yMgkYC6ONoe1Zz0eGdmtlexUS2KTY&dib_tag=se&keywords=red+shirts+for+men&qid=1710655202&sprefix=red+shirts+for+men%2Caps%2C235&sr=8-10">
                <img src="https://m.media-amazon.com/images/I/71iwYW3I5AL._SY741_.jpg" alt="Product 1">
            </a>
            <h3>Product 3</h3>
            <p>Price: $100</p>
        </div>
        
        <div class="card">
            <a href="https://www.amazon.in/Zombom-Classic-Casual-ZBBUTTON-PATTI_554_Red_38_Red_38/dp/B08HWMVG8W/ref=sr_1_12?crid=1P6LKZ99PDVM5&dib=eyJ2IjoiMSJ9.fCR4_UOk8_tc334CTCsuZKfrmFotQ1DyeCE7mEiFl4ZcDVZ98x50GgQY5OXeYG6FzkpggtplCisain2Rt-9snPRsXs7wLFBLuS3XPbr9NgkqlvT3B54mpdDQ6tt_KIMVuZcmzPeEcSfE39nUIycDiQ8Kb4xxwQdxE2avNcUCNMwqYKRu2bEdL-8Nz3CNCZwQlC18vShqpWMd4zzpczD0S2wdjY1oiz_q7sjPhmmoC3Np0upQJqfGvbQggCNT73xfxKmxjnIib6HXZOXBUbQX6vCyS9BHVgYulvdjUFLAKH0.AP8aMlU5e7vm40yMgkYC6ONoe1Zz0eGdmtlexUS2KTY&dib_tag=se&keywords=red+shirts+for+men&qid=1710655202&sprefix=red+shirts+for+men%2Caps%2C235&sr=8-12">
                <img src="https://m.media-amazon.com/images/I/51MK6D6V48L._SX679_.jpg" alt="Product 1">
            </a>
            
            <h3>Product 4</h3>
            <p>Price: $100</p>
        </div>
        
        <div class="card">
            <a href="https://www.amazon.in/Amazon-Brand-Symbol-Regular-AZ-SY-RR-12A-04_Maroon_Medium/dp/B07KXB5G28/ref=sr_1_19?crid=1P6LKZ99PDVM5&dib=eyJ2IjoiMSJ9.fCR4_UOk8_tc334CTCsuZKfrmFotQ1DyeCE7mEiFl4ZcDVZ98x50GgQY5OXeYG6FzkpggtplCisain2Rt-9snPRsXs7wLFBLuS3XPbr9NgkqlvT3B54mpdDQ6tt_KIMVuZcmzPeEcSfE39nUIycDiQ8Kb4xxwQdxE2avNcUCNMwqYKRu2bEdL-8Nz3CNCZwQlC18vShqpWMd4zzpczD0S2wdjY1oiz_q7sjPhmmoC3Np0upQJqfGvbQggCNT73xfxKmxjnIib6HXZOXBUbQX6vCyS9BHVgYulvdjUFLAKH0.AP8aMlU5e7vm40yMgkYC6ONoe1Zz0eGdmtlexUS2KTY&dib_tag=se&keywords=red+shirts+for+men&qid=1710655202&sprefix=red+shirts+for+men%2Caps%2C235&sr=8-19">
                <img src="https://m.media-amazon.com/images/I/71xigIyC1EL._SX569_.jpg" alt="Product 1">
            </a>
            <h3>Product 5</h3>
            <p>Price: $100</p>
        </div>
        <div class="card">
            <a href="https://www.amazon.in/Peter-England-Mens-Shirt-PCSFSSLPR62181_Red/dp/B0BKQ8VK59/ref=sr_1_20?crid=1P6LKZ99PDVM5&dib=eyJ2IjoiMSJ9.fCR4_UOk8_tc334CTCsuZKfrmFotQ1DyeCE7mEiFl4ZcDVZ98x50GgQY5OXeYG6FzkpggtplCisain2Rt-9snPRsXs7wLFBLuS3XPbr9NgkqlvT3B54mpdDQ6tt_KIMVuZcmzPeEcSfE39nUIycDiQ8Kb4xxwQdxE2avNcUCNMwqYKRu2bEdL-8Nz3CNCZwQlC18vShqpWMd4zzpczD0S2wdjY1oiz_q7sjPhmmoC3Np0upQJqfGvbQggCNT73xfxKmxjnIib6HXZOXBUbQX6vCyS9BHVgYulvdjUFLAKH0.AP8aMlU5e7vm40yMgkYC6ONoe1Zz0eGdmtlexUS2KTY&dib_tag=se&keywords=red+shirts+for+men&qid=1710655202&sprefix=red+shirts+for+men%2Caps%2C235&sr=8-20">
                <img src="https://m.media-amazon.com/images/I/61GoJ+WtPPL._SY741_.jpg">
            </a> <h3>Product 6</h3>
            <p>Price: $100</p>
        </div>
        
        <div class="card">
            <a href="https://www.amazon.in/Park-Avenue-Slim-Casual-Shirt/dp/B0BY95BQR9/ref=sr_1_31?crid=1P6LKZ99PDVM5&dib=eyJ2IjoiMSJ9.fCR4_UOk8_tc334CTCsuZKfrmFotQ1DyeCE7mEiFl4ZcDVZ98x50GgQY5OXeYG6FzkpggtplCisain2Rt-9snPRsXs7wLFBLuS3XPbr9NgkqlvT3B54mpdDQ6tt_KIMVuZcmzPeEcSfE39nUIycDiQ8Kb4xxwQdxE2avNcUCNMwqYKRu2bEdL-8Nz3CNCZwQlC18vShqpWMd4zzpczD0S2wdjY1oiz_q7sjPhmmoC3Np0upQJqfGvbQggCNT73xfxKmxjnIib6HXZOXBUbQX6vCyS9BHVgYulvdjUFLAKH0.AP8aMlU5e7vm40yMgkYC6ONoe1Zz0eGdmtlexUS2KTY&dib_tag=se&keywords=red+shirts+for+men&qid=1710655202&sprefix=red+shirts+for+men%2Caps%2C235&sr=8-31">
                <img src="https://m.media-amazon.com/images/I/618AJdLDdmL._SX679_.jpg">
            </a> <h3>Product 1</h3>
            <p>Price: $100</p>
        </div>
        
        <div class="card">
            <a href="https://www.amazon.in/Lee-Mens-Slim-Jeans-LMSH003304_Red/dp/B0BTD9QVV6/ref=sr_1_122?crid=1P6LKZ99PDVM5&dib=eyJ2IjoiMSJ9.mEaAPteGcBkEiayLYJAiw8H0jxPXl_SThSYrqst1FIsKdm9L9y1FlZpWWOMMH705rgkhb8Fr41wF7ytGBNAnagu5Zgyd4BHbc6WSpjGyj1bC4CnBzXiRCCNedeNKlLg9xYbEUX6pewF4e6sJf-nDwudzBf2Z5JVqS6hf6Y-4RFIeSpBcMpEYoLXP7ppNdrZxMKORBY6exgmvAwUMrWDq-EEUuit1mJJxtXeijFOWMu8_-pBFZA_pfyPb1bo7mB7zHKFP_2w2ffam1uRpvPgPx-zPGbqmLpAeg6DhaBlT38w.iPoHji9V2SEzshQj75HqVc3nIB3IW0_4yUZZLPQlGJ8&dib_tag=se&keywords=red+shirts+for+men&qid=1710655905&sprefix=red+shirts+for+men%2Caps%2C235&sr=8-122">
                <img src="https://m.media-amazon.com/images/I/71VI59KS6EL._SX679_.jpg" >
            </a><h3>Product 8</h3>
            <p>Price: $1</p>
        </div>
        <!-- Add more products here -->
    </div>
</body>
</html>