<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Raj Fashion Recommendation System</title>
    <style>
        body {
           background-color:pink;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            padding: 20px;
            margin-bottom: 20px;
            display: inline-block;
            width: 200px;
            text-align: center;
        }
        .card img {
            width: 100%;
            height: 200px;
            object-fit:contain;
        }
        .card h3 {
            margin: 10px 0;
        }
        .card p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Fashion Recommendation System</h1>


        <div class="card">
<a href="https://www.amazon.in/PEBCO-Solid-Mens-Shirt-Yellow/dp/B0CQT1CWCK/ref=sr_1_1_sspa?crid=3NE03KAWCAHVY&dib=eyJ2IjoiMSJ9.ceOLjuq8zUzwUqWD_fbUwPuBaVe9lMqCPbfh-5hJnkYu0M-xXvrZ6roF28qD17nAcLxxq4reETbzC2pKUiyfJV8WZnzp-7KeEUTUNDiWZEIIAQkkLxPlpKZc75g9SGxepT8RqnStXB9B2NNOtOCnZQbx-V5sOr4C9VhcbrrO5Dy46Jtz06z1afD4cEqATJLfDCzq4Kl4h6grokQ6ZZSqPr62UJFCvdS4WM6papcKywiYzy88xB0JlOfKRWkW1n-D2zS_QX-ZHNi7w4ivlx_wLQL3Mp9e2b3SFPSY9Yu4-Pw.H3xTG457HXrf5VBBTQUF9ePPZh3uMtqgVByY9c6Qwkg&dib_tag=se&keywords=yellow+shirts+for+men&qid=1710652660&sprefix=yelloshirts+for+men%2Caps%2C271&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">
            <img src="https://m.media-amazon.com/images/I/71RbppHqGOL._SX679_.jpg" alt="Product 1">
</a>
            <h3>Product 1</h3>
            <p>Price: $1</p>
        </div>
        <div class="card">

            <a href="https://www.amazon.in/Zombom-Cotton-Regular-Mandarin-XX-Large/dp/B0CQVPNG9L/ref=sr_1_5?crid=3NE03KAWCAHVY&dib=eyJ2IjoiMSJ9.ceOLjuq8zUzwUqWD_fbUwPuBaVe9lMqCPbfh-5hJnkYu0M-xXvrZ6roF28qD17nAcLxxq4reETbzC2pKUiyfJV8WZnzp-7KeEUTUNDiWZEIIAQkkLxPlpKZc75g9SGxepT8RqnStXB9B2NNOtOCnZQbx-V5sOr4C9VhcbrrO5Dy46Jtz06z1afD4cEqATJLfDCzq4Kl4h6grokQ6ZZSqPr62UJFCvdS4WM6papcKywiYzy88xB0JlOfKRWkW1n-D2zS_QX-ZHNi7w4ivlx_wLQL3Mp9e2b3SFPSY9Yu4-Pw.H3xTG457HXrf5VBBTQUF9ePPZh3uMtqgVByY9c6Qwkg&dib_tag=se&keywords=yellow+shirts+for+men&qid=1710652660&sprefix=yelloshirts+for+men%2Caps%2C271&sr=8-5">
  <img src="https://m.media-amazon.com/images/I/51keXJDYYhL._SY741_.jpg" alt="Description of the image">
</a>
            <h3>Product 2</h3>
            <p>Price: $150</p>
        </div>
<div class="card">
<a href="https://www.amazon.in/Majestic-Man-Solid-Casual-Mustard/dp/B09X9SSBPW/ref=sr_1_8?crid=3NE03KAWCAHVY&dib=eyJ2IjoiMSJ9.ceOLjuq8zUzwUqWD_fbUwPuBaVe9lMqCPbfh-5hJnkYu0M-xXvrZ6roF28qD17nAcLxxq4reETbzC2pKUiyfJV8WZnzp-7KeEUTUNDiWZEIIAQkkLxPlpKZc75g9SGxepT8RqnStXB9B2NNOtOCnZQbx-V5sOr4C9VhcbrrO5Dy46Jtz06z1afD4cEqATJLfDCzq4Kl4h6grokQ6ZZSqPr62UJFCvdS4WM6papcKywiYzy88xB0JlOfKRWkW1n-D2zS_QX-ZHNi7w4ivlx_wLQL3Mp9e2b3SFPSY9Yu4-Pw.H3xTG457HXrf5VBBTQUF9ePPZh3uMtqgVByY9c6Qwkg&dib_tag=se&keywords=yellow+shirts+for+men&qid=1710652660&sprefix=yelloshirts+for+men%2Caps%2C271&sr=8-8">
            <img src="https://m.media-amazon.com/images/I/613u0sfeR9L._SX679_.jpg" alt="Product 1">
</a>
            <h3>Product 3</h3>
            <p>Price: $100</p>
        </div>

<div class="card">
         <a href="https://www.amazon.in/YHA-Solid-Shirt-Regular-Mustard/dp/B09NC46XHC/ref=sr_1_12?crid=3NE03KAWCAHVY&dib=eyJ2IjoiMSJ9.ceOLjuq8zUzwUqWD_fbUwPuBaVe9lMqCPbfh-5hJnkYu0M-xXvrZ6roF28qD17nAcLxxq4reETbzC2pKUiyfJV8WZnzp-7KeEUTUNDiWZEIIAQkkLxPlpKZc75g9SGxepT8RqnStXB9B2NNOtOCnZQbx-V5sOr4C9VhcbrrO5Dy46Jtz06z1afD4cEqATJLfDCzq4Kl4h6grokQ6ZZSqPr62UJFCvdS4WM6papcKywiYzy88xB0JlOfKRWkW1n-D2zS_QX-ZHNi7w4ivlx_wLQL3Mp9e2b3SFPSY9Yu4-Pw.H3xTG457HXrf5VBBTQUF9ePPZh3uMtqgVByY9c6Qwkg&dib_tag=se&keywords=yellow+shirts+for+men&qid=1710652660&sprefix=yelloshirts+for+men%2Caps%2C271&sr=8-12">
  <img src="https://m.media-amazon.com/images/I/71s5yxLxspL._SY741_.jpg" alt="Product 1">
</a>
            
            <h3>Product 4</h3>
            <p>Price: $100</p>
        </div>

<div class="card">
   <a href="https://www.amazon.in/Gauri-Laxmi-Enterprise-Straight-38/dp/B099PNMQ9G/ref=sr_1_27?crid=3NE03KAWCAHVY&dib=eyJ2IjoiMSJ9.ceOLjuq8zUzwUqWD_fbUwPuBaVe9lMqCPbfh-5hJnkYu0M-xXvrZ6roF28qD17nAcLxxq4reETbzC2pKUiyfJV8WZnzp-7KeEUTUNDiWZEIIAQkkLxPlpKZc75g9SGxepT8RqnStXB9B2NNOtOCnZQbx-V5sOr4C9VhcbrrO5Dy46Jtz06z1afD4cEqATJLfDCzq4Kl4h6grokQ6ZZSqPr62UJFCvdS4WM6papcKywiYzy88xB0JlOfKRWkW1n-D2zS_QX-ZHNi7w4ivlx_wLQL3Mp9e2b3SFPSY9Yu4-Pw.H3xTG457HXrf5VBBTQUF9ePPZh3uMtqgVByY9c6Qwkg&dib_tag=se&keywords=yellow+shirts+for+men&qid=1710652660&sprefix=yelloshirts+for+men%2Caps%2C271&sr=8-27">
            <img src="https://m.media-amazon.com/images/I/511zO6yrqvS._SX569_.jpg" alt="Product 1">
</a>
            <h3>Product 5</h3>
            <p>Price: $100</p>
        </div>
     <div class="card">
        <a href="https://www.amazon.in/CB-COLEBROOK-Regular-Spread-Collar-XX-Large/dp/B0CQC2ZR63/ref=sr_1_41?crid=3NE03KAWCAHVY&dib=eyJ2IjoiMSJ9.ceOLjuq8zUzwUqWD_fbUwPuBaVe9lMqCPbfh-5hJnkYu0M-xXvrZ6roF28qD17nAcLxxq4reETbzC2pKUiyfJV8WZnzp-7KeEUTUNDiWZEIIAQkkLxPlpKZc75g9SGxepT8RqnStXB9B2NNOtOCnZQbx-V5sOr4C9VhcbrrO5Dy46Jtz06z1afD4cEqATJLfDCzq4Kl4h6grokQ6ZZSqPr62UJFCvdS4WM6papcKywiYzy88xB0JlOfKRWkW1n-D2zS_QX-ZHNi7w4ivlx_wLQL3Mp9e2b3SFPSY9Yu4-Pw.H3xTG457HXrf5VBBTQUF9ePPZh3uMtqgVByY9c6Qwkg&dib_tag=se&keywords=yellow+shirts+for+men&qid=1710652660&sprefix=yelloshirts+for+men%2Caps%2C271&sr=8-41">
  <img src="https://m.media-amazon.com/images/I/51N+NhdLzNL._SX679_.jpg">
</a> <h3>Product 6</h3>
            <p>Price: $100</p>
     </div>

<div class="card">
    <a href="https://www.amazon.in/Allen-Solly-Regular-Shirt-ALSFVCUFZ01198_Yellow/dp/B0CJJ5STSP/ref=sr_1_52?crid=3NE03KAWCAHVY&dib=eyJ2IjoiMSJ9.q7MzIqVm60vLiQsqP7JcwJpNpP6U5WVZGEFL8orFmeDgSr3hfJWzqOrmgzuIhVqIg1IzyPsLQ9QudtOzGJWpLbF2VeVO6zebJ8utQwr_D8LX07h-nW48deYe27meuZWqwAzhIhKpIpImhEH6OskGFC1DvfYB_VXOi-0EVmolcUdwId4iBPBloH0tenGl3gSIbV59Yb0JP-gLMzzjufZriZw8Y2r-Dtmkx4rRW8-fnMaHFcGZIDiajG26fVb4v_RED56ljQdPpG2GPobxRTSGBx7E8m2N3e6g67orcZ8yL3s.WzJyFxAfxBLMYpC1BO_t0pW57mtBiC5c59-0cinacMI&dib_tag=se&keywords=yellow+shirts+for+men&qid=1710654009&sprefix=yelloshirts+for+men%2Caps%2C271&sr=8-52">
  <img src="https://m.media-amazon.com/images/I/61IetdS7OoL._SY741_.jpg">
</a> <h3>Product 1</h3>
            <p>Price: $100</p>
     </div>

<div class="card">
    <a href="https://www.amazon.in/RAMRAJ-COTTON-Mustard-Yellow-Sleeve/dp/B0CJYFHSR9/ref=sr_1_247?crid=3VB378KTR08CA&dib=eyJ2IjoiMSJ9.aacZnBpDG1YIpSE43JVp13l3h5CF7a9MJb5BDKf1JyLrpWsl8VMuTqNvi6A179Y_cxP92KE48dQsnFxHPzlbQG8gaAvVzNqtDrd7F-DcwttIfYdxZSIa7FU0mvz1kB-YZmcBIDnAe0Fnx7ZinyGjNZMEbe8QDoIH2Q-TIdZqfQjSpAXLDcvGo11XYyel_b5CFJJkQsMbKNNsZUloccOwUOQ3gy52Cq4ufYmslcQr9y92eW-E8NVL7MFYI6plse_AJTRnCgCaQ4HbugXJ-yYs-zwm73XOkH-TwdfGjVSLQhk.NqvPkMhV5cAj0qEWoZ-yZmZdG5NOkRdwmXSmzUC2ceE&dib_tag=se&keywords=yellow+shirts+for+men&qid=1710654196&sprefix=%2Caps%2C412&sr=8-247">
  <img src="https://m.media-amazon.com/images/I/610rPUMUYIL._SX679_.jpg" >
</a><h3>Product 8</h3>
            <p>Price: $1</p>
     </div>
        <!-- Add more products here -->
    </div>
</body>
</html>